@model WebMonitoringSystem.Models.Parameter

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Parameter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ParameterID" />
            <div class="form-group">
                <label asp-for="VehicleID" class="control-label"></label>
                <input asp-for="VehicleID" class="form-control" />
                <span asp-validation-for="VehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicParameterID" class="control-label"></label>
                <input asp-for="BasicParameterID" class="form-control" />
                <span asp-validation-for="BasicParameterID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicParameterValue" class="control-label"></label>
                <input asp-for="BasicParameterValue" class="form-control" />
                <span asp-validation-for="BasicParameterValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasicParameterTimeValue" class="control-label"></label>
                <input asp-for="BasicParameterTimeValue" class="form-control" />
                <span asp-validation-for="BasicParameterTimeValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
